﻿@model IEnumerable<WebApplication1.Models.Products>

@{
    ViewBag.Title = "Lista de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de productos</h2>

<p>
    @Html.ActionLink("Agregar Producto", "Create")
</p>
<table class="table datatable">
    <thead>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th class="text-center">
            Categoria
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>   
    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                <img src="@item.image" alt="Alternate Text" class="img-thumbnail img-thumb" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category_id)
            </td>
            <td>
                <a href="@Url.Action("Details", "Products", new { id = item.id })"><i class="fas fa-eye"></i></a>
                <a href="@Url.Action("Edit", "Products", new { id = item.id })"><i class="fas fa-pencil-alt"></i></a>
                <a href="@Url.Action("Delete", "Products", new { id = item.id })" class="confirm_delete"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
    }
    </tbody>

</table>


<style>
    .img-thumb {
        width: 15%;
        height: 15%;
    }
</style>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.datatable').DataTable();

            $(".confirm_delete").click(function (event) {
                if (confirm("Estás seguro de eliminar ?") == false) { event.preventDefault(); }
            });

        });
    </script>
}
